
<form asp-controller="Account" asp-action="ExternalRegister" method="post" id="ExtRegisterForm" class="navbar-right">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Account" asp-action="ExternalRegister">Register</a>
        </li>
    </ul>
</form>

