@model TimeTracking.Web.Models.ErrorView

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-left">Error - Warning Information</h1>
<h3 class="text-danger text-left">An error or warning occurred while processing your request.</h3>

<div class="row">
    <div class="col-sm-12">
        <h4>@Model.Error : @Model.Msg</h4>
    </div>
    
</div>  

